.card {
    /* background-color: #FFFFFF; */
    margin: 50px auto;
    max-width: 400px;
    /* text-align: center; */
    border-radius: 10px;
    box-shadow: 10px 10px 30px #BDBDBD;
    position: relative
  }
  .cardImage {
    /* position: relative; */
    width: 400px;
    height: 400px;
    border-radius: 10px 10px 0 0;
    overflow: hidden;
    /* max-height: 200px; */
  }
 

  .containerCard{
    padding: 20px;
    display: flex;
  }

  @media (max-width: 767px) {
    
  .containerCard{
  flex-direction: column;
  }

  .cardImage {
    /* position: relative; */
    width: 350px;
    height: 350px;
    /* border-radius: 10px 10px 0 0;
    overflow: hidden; */
    /* max-height: 200px; */
  }
  }