
.mySlides {opacity: 0;}
.slideShowContainer {
    width: 100%;
    height: 100vh;
    /* position: relative; */
    margin: auto;
  
  }
.overlay{
    position: absolute;
     width: 100%;
     height: 100vh;
     top: 0;
     bottom: 0;
     left: 0;
     right: 0;
     background: linear-gradient(to top, rgba(14, 29, 51, 0.8), rgba(14, 29, 51, 0.2));
 }
 




.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;

  color: white;
  font-weight: bold;
  font-size: 40px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}


.next {
  left:  0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}


/* Fading animation */
.fade {
  animation-name: ease;
  animation-duration: 1.5s;
  /* background: linear-gradient(to top, rgba(14, 29, 51, 0.8), rgba(14, 29, 51, 0.2)); */
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}