.footerDark {
    padding: 50px 0;
    color: #f0f9ff;
    background-color: #282d32;
  }
  
  .footerDark h3 {
    margin-top: 0;
    margin-bottom: 12px;
    font-weight: bold;
    font-size: 16px;
  }
  
  .footerDark ul {
    padding: 0;
    list-style: none;
    line-height: 1.6;
    font-size: 14px;
    margin-bottom: 0;
  }
  
  .footerDark ul a {
    color: inherit;
    text-decoration: none;
    opacity: 0.6;
  }
  
  .footerDark ul a:hover {
    opacity: 0.8;
  }

  .social .icon{
   
    background-size: 25px 25px;
    width: inherit;
    display: flex;
    height: inherit;
    background-repeat: no-repeat;
    background-position: center;
  }

  .facebook{
    background: url("/icons/facebook.svg");
  }
  .whatsapp{
    background: url("/icons/whatsapp.svg");
  }
  .location{
    background: url("/icons/location.svg");
  }
  .phone{
    background: url("/icons/phone.svg");
  }

  .container{
    padding: 50px;
  }
  
  .address p{
padding-bottom: 10px;
display: flex;
align-items: center;
  }
  .address .icon{
    background-size: 25px;
    display: block;
    width: 25px;
    height: 25px;
    margin-inline-end: 10px;
  }
  
  @media (max-width: 767px) {
    .footerDark .item:not(.social) {
      text-align: center;
      padding-bottom: 20px;
    }
  }
  
  .footerDark .item.text {
    margin-bottom: 36px;
  }
  
  @media (max-width: 767px) {
    .footerDark .item.text {
      margin-bottom: 0;
    }
  }
  
  .footerDark .item.text p {
    opacity: 0.6;
    margin-bottom: 0;
  }
  
  .footerDark .item.social {
    text-align: center;
  }
  
  @media (max-width: 991px) {
    .footerDark .item.social {
      text-align: center;
      margin-top: 20px;
    }
  }
  
  .footerDark .item.social > a {
    font-size: 20px;
    width: 36px;
    height: 36px;
    line-height: 36px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.4);
    margin: 0 8px;
    color: #fff;
    opacity: 0.75;
  }
  
  .footerDark .item.social > a:hover {
    opacity: 0.9;
  }
  
  .footerDark .copyright {
    text-align: center;
    padding-top: 24px;
    opacity: 0.3;
    font-size: 13px;
    margin-bottom: 0;
  }