html,
body {

  padding: 0;
  margin: 0;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
    background-color: var(--black);
}

a {
  color: #0070f3;
  text-decoration: none;
}

h3 {
  color: green;
  text-decoration: none;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: transparent;
    border: 0;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

:root {
  --white: #f9f9f9;
  --black: black;
  --gray: #85888C;
}

/* variables*/